<?xml version="1.0" encoding="UTF-8" ?>
<phpunit 
    colors="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Test suite">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="log/phpunit/testdox.html"/>
    </logging>
</phpunit>